body{
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas{
  border: 1px solid #31005a;
  background-color: rgba(28, 1, 51, 0.4);
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.4);
  z-index: 1;
}

@keyframes cube{
    from{
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to{
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.background{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #2d0052;
    overflow: hidden;
}

.background li{
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #280049;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 7s ease-in forwards infinite;
}

.background li:nth-child(0){
    animation-delay: 0s;
    left: 28vw;
    top: 95vh;
}

.background li:nth-child(1){
    animation-delay: 2s;
    left: 40vw;
    top: 74vh;
    border-color: #31005a;
}

.background li:nth-child(2){
    animation-delay: 4s;
    left: 51vw;
    top: 64vh;
    border-color: #31005a;
}

.background li:nth-child(3){
    animation-delay: 6s;
    left: 9vw;
    top: 26vh;
    border-color: #31005a;
}

.background li:nth-child(4){
    animation-delay: 8s;
    left: 70vw;
    top: 39vh;
}

.background li:nth-child(5){
    animation-delay: 10s;
    left: 89vw;
    top: 6vh;
}